@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #18222D;
  color: #fff;
}
.notification {
  background-color: #242B2C;
  max-width: 596px;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 88px;
}
.notification__header {
  background-color: #242B2C;
  display: flex;
  justify-content: space-between;
  padding: 14px 23px;
  border-radius: 20px;
  margin-top: 45px;
}
.notification__header img {
  align-self: center;
  max-width: 25px;
  cursor: pointer;
}
.notification__header h2 {
  margin: 0;
  font-size: 14px;
  margin: 0;
  align-self: center;
  text-transform: uppercase;
}
.header__hr{
  margin: 0;
  background-color: #F0662A;
  height: 1px;
  border: none;
}
.notification__info {
  padding-top: 22px;
  font-weight: bold;
  color: #ff4711;
  transition: 1s;
  opacity: 0;
  text-align: center;
}
.notification__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  flex-direction: column;
  gap: 22px;
}
.notification__form h5 {
  font-size: 15px;
  margin: 0;
}
.notification__form input {
  height: 36px;
  min-width: 85px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 10px;
  background-color: #D9D9D9;
}
.notification__form textarea {
  resize: none;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  width: 322px;
  height: 80px;
  font-size: 15px;
  border: 1px solid #D9D9D9;
  background-color: #D9D9D9;
  border-radius: 5px;
}
.notification__form > button {
  cursor: pointer;
  margin: 0;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  padding: 16px 0;
  background-color: #F0662A;
  font-size: 14px;
  color: #fff;
  min-width: 175px;
  height: 46px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
}
.notification__form > button:hover, .notification__list > button:hover {
  opacity: 0.9;
}
.notification__list > button {
  cursor: pointer;
  margin: 0;
  text-transform: uppercase;
  border: none;
  padding: 16px 0;
  color: #fff;
  background-color: #242B2C;
  font-size: 14px;
  min-width: 175px;
  height: 46px;
  font-weight: 600;
  letter-spacing: 0.8px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}
.notification__list {
  padding: 0 23px 62px;
}
.notification__list > h3 {
  font-size: 15px;
  margin: 0 0 22px 0;
}
.notification__item {
  display: flex;
  justify-content: space-between;
  background-color: #D9D9D9;
  color: #242B2C;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.notification__item > div{
  align-self: center;
}
.notification__item:nth-last-child(-n+2){
  margin-bottom: 30px;
}
.notification__item:last-child {
  display: none;
}
.notification__warning {
  background-color: #FFD17A;
}
button[data-time] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s;
  background-color: #242B2C;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
}
button[data-time]:hover {
  background-color: #ff4711;
}
.footer > h3{
  text-align: center;
  font-size: 14px;
  margin-bottom: 78px;
  color: #D9D9D9;
}
.footer a{
  text-decoration: none;
  padding-left: 2px;
  color: #F0662A;
}